<mc module="userPage">
  <render></render>
  <mc #parent class="user" operation="edit">
    <render></render>

    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field1-template', parent: parent}">
    </ng-container>
    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field2-template', parent: parent}">
    </ng-container>
    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field3-template', parent: parent}">
    </ng-container>

<!--    using it in the content executes CD, pretty wierd way-->
<!--    <mc field="field4-Content">-->
<!--      <render></render>-->
<!--    </mc>-->
    <!--    <mc field="age-Content">-->
    <!--      <render></render>-->
    <!--    </mc>-->
    <field></field>

  </mc>
</mc>


<ng-template #field let-name let-parent="parent">
  <mc [field]="name" [parentMC]="parent">
    <render></render>
  </mc>
</ng-template>
