<mc module="userPage">
  <render></render>
  <mc class="user" operation="edit">
    <render></render>

    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field1-template'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field2-template'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="field;context:{$implicit: 'field3-template'}">
    </ng-container>
    <mc field="field4-Content">
      <render></render>
    </mc>
<!--    <mc field="age-Content">-->
<!--      <render></render>-->
<!--    </mc>-->
    <field></field>

  </mc>
</mc>


<ng-template #field let-name>
  <mc [field]="name">
    <render></render>
  </mc>
</ng-template>
